body{
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #2980B9, #6DD5FA, #68c1f5);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior: smooth;
  
}
.logo{
  width: 100px;
  height: auto;

}
.title{
  margin-right:-170px;
  font-size: 35px;
  font-family:"Tinos", serif;;
  font-style: italic;
  color: #FFFFFF;
}

.navi{
  background-color:#0096c7;
  width: 100%;
  height: 100px;
  display: flex;
  margin: 0;
  justify-content: space-between;
  padding: 10px 50px 10px 50px;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  position: sticky;
  top: 0;
  z-index: 99999;
  isolation: isolate;
  
}
.right {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 20px;
}
.home{
  border-radius: 60px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.555);
 
  
}
.tour{
 
  border-radius: 60px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.555);


  
}
.foods{

  border-radius: 60px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.555);
 
  
  
}
.fest{
  border-radius: 60px;
  padding: 10px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.555);
 
    
}

.navi ul {
  display: flex;
  margin: 30px;
  justify-content: center;
  gap: 10px;
}

.navi a {
  position: relative;
  text-decoration: none;
  color: #fff;
  width: 100px;
  height: 25px;
  padding: 10px;
  font-size: 18px;
  font-family: "Tinos", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 
    color 0.3s ease,
    transform 0.3s ease;
}
.navi a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #38bdf8, #818cf8);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.35s ease;
  box-shadow: 0 0 8px rgba(129, 140, 248, 0.7);
}

.navi a:hover {
  color: #fff;
  transform: translateY(-2px);
}
nav a.active {
  transform: translateY (-5px) ;
}
.navi a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.gallery {
  display: flex;
  flex-direction: column;
  gap: 90px;
}
.pair {
  display: flex;
  gap: 140px;
  align-items: center;
}

.pattern {
  position: relative;
  width: 240px;
  height: 420px;
}


.hex {
  position: absolute;
  width: 400px;
  height: 470px;
  background: #ffffff;

  clip-path: polygon(
    0% 25%, 0% 75%,
    50% 100%, 100% 75%,
    100% 25%, 50% 0%
  );
}
.hex-inner {
  position: relative;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: #68c1f5;

  clip-path: polygon(
    0% 25%, 0% 75%,
    50% 100%, 100% 75%,
    100% 25%, 50% 0%
  );
}
.hex-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;     
  object-position: center; 
  clip-path: inherit;
  transform: scale(0.9);  
  transform-origin: center; 
} 

.left .hex:nth-child(1) {
  top: 170px;
  left: 300px;
}
.left .hex:nth-child(2) {
  top: 550px;
  left: 90px;   
}
.left .hex:nth-child(3) {
  top: 925px;
  left: 300px;
}
.SAP{
  flex: 1;
  color: white;
}

.sapatos{
  width: 300px;
  font-size: 100px;
  margin-top: -100px;
  margin-left: 950px;
  color: white;
  white-space: nowrap;
}

.par{
 width: 600px;
 font-size: 28px; 
 margin-left: 1000px;
}
.sap-cite{
   margin-left: 1000px;
}

.right .hex:nth-child(1) {
  top: 500px;
  right: -1350px;
}
.right .hex:nth-child(2) {
  top: 900px;
  right: -1150px; 
}
.right .hex:nth-child(3) {
  top: 1290px;
  right: -1350px;
}
.ang{
  flex: 1;
  color: white;
}

.angkan{
  width: 300px;
  font-size: 80px;
  margin-left: 200px;
  margin-top: 300px;
  color: white;
  white-space: nowrap;
}
.angkan-text{
  width: 600px;
  font-size: 28px; 
  margin-left: 200px
}
.ang-cite{
  margin-left: 200px;
}
.copy .hex:nth-child(1) {
  top: 550px;
  right: -450px;
}
.copy .hex:nth-child(2) {
  top: 930px;
  right: -250px; 
}
.copy .hex:nth-child(3) {
  top: 1310px;
  right: -450px;
}
.MarCity{
  flex: 1;
  color: white;
}

.mar{
  width: 300px;
  font-size: 80px;
  margin-left: 1000px;
  margin-top: 300px;
  color: white;
  white-space: nowrap;
}
.city-text{
  width: 600px;
  font-size: 35px; 
  margin-left: 1005px;
  margin-top: 180px;
}
.mar-cite{
   margin-left: 1005px;

}





